
/* Elements css */
textarea {
    resize: none;
    width: 500px;
    max-width: 100%;
}


/* Base css */


/* PostDetail css */

.post-detail-img {
    width: 500px;
    max-width: 100%;
    height: auto;
}


/* Colors */

.bg-isabelline {
    background-color: #F5F1ED;
}

.bg-bone {
    background-color: #DAD2BC;
}

.bg-paynes-gray {
    background-color: #395C6B;
}
