
/* Elements css */

textarea {
    resize: none;
    width: 500px;
    max-width: 100%;
}


/* Navbar css */

.dropdown-item:hover {
    background-color: #4D6A6D;
}


/* PostDetail css */

.post-detail-img {
    width: 500px;
    max-width: 100%;
    height: auto;
}


/* Colors */

.platinum {
    color: #EAEAEA;
}

.bg-platinum {
    background-color: #EAEAEA;
}

.battleship {
    color: #8A9489;
}

.bg-battleship {
    background-color: #8A9489;
}

.payne {
    color: #4D6A6D;
}

.bg-payne {
    background-color: #4D6A6D;
}

.purple {
    color: #3E283E;
}

.bg-purple {
    background-color: #3E283E;
}

.cinnabar {
    color: #E55934;
}

.bg-cinnabar {
    background-color: #E55934;
}


